In [1]:
path = "ch02/usagov_bitly_data2012-03-16-1331923249.txt"

In [2]:
import json

In [3]:
records = [json.loads(line) for line in open(path)]

In [4]:
from pandas import DataFrame,Series

In [5]:
import pandas as pd;import numpy as np

In [6]:
frame = DataFrame(records)

In [7]:
frame['tz'][:10]

0     America/New_York
1       America/Denver
2     America/New_York
3    America/Sao_Paulo
4     America/New_York
5     America/New_York
6        Europe/Warsaw
7
8
9
Name: tz, dtype: object

In [8]:
tz_counts = frame['tz'].value_counts()

In [13]:
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Name: tz, dtype: int64

In [14]:
clean_tz = frame['tz'].fillna('Missing')